<nav>
    <ul>
        <li>@Html.ActionLink("Dodaj książkę", "AddBook", "Admin")</li>
        <li>@Html.ActionLink("Dodaj czytelnika", "AddReader", "Admin")</li>
        <li>@Html.ActionLink("Dodaj zamówienie", "AddOrder", "Admin")</li>
        <li>@Html.ActionLink("Szukaj", "_SearchBook","Admin")</li>
    </ul>
</nav>
